.footer-container{
    background-color: #40534C;
    width: 100vw;
    height: auto;
    padding: 10px 0px 10px 0px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer-body{
    display: flex;
    flex-wrap: wrap ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-heading{
    color: aliceblue;
}

.footer-details{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: aliceblue;
    max-width: 60%;
    width: fit-content;
}

.social-icons{
    display: flex;
    color: aliceblue;
    justify-content: center;
    gap: 25px;
}