.loading-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 86vh;
}


.loading-container img{
    height: 100px;
    width: 100px;
}