.header-container {
    position: relative;
    background: transparent;
    position: fixed;
    justify-content: center;
    width: 100vw;
    margin: 0px;
    background: rgba(2, 0, 36, 1) 100%;
    color: rgb(255, 255, 255);
  }
  
  ul {
    list-style-type: none;
  }
  
  a:link{
    text-decoration: none;
    font-weight: 900;
    color: aliceblue;
  }
  .navlink-title{
    color: aliceblue;
  }
  
  .nav a.active{
    text-decoration: none;
    font-weight: 900;
    color: #68D2E8;
  }
  
  .link-title{
    color: aliceblue;
  }
  
  .nav-items {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    text-decoration-line: none;
    font-family: "Hind", sans-serif;
    font-weight: 300;
  }