* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  font-size: 16px;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.container {
  background-color: #fff;
  padding-left: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.container .container-heading {
  font-family: cursive;
  font-style: italic;
}

h1{
  text-align: center;
}