.delete-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-container{
    color: red;
}

.delete-heading{
    font-family: "Corinthia", system-ui;
    font-size: 40px;
}