.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 10px;
}

.data-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.instruction{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}
