.Table {
  display: flex;
  justify-content: start;
}

.THead {
  display: flex;
  justify-content: space-between;
}

.TRow {
  display: flex;
  justify-content: space-between;
}

.Container {
  display: flex;
  justify-content: center;
  gap: 300px;
}