.Header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #00224d;
  z-index: var(--z-fixed);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: var(--header-height);
  margin: 1rem;
}

.Nav-logo {
  color: #FFE8C8;
  transition: color 0.4s;
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
}

.Nav_list {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.Nav-item {
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
}

.Nav-link:hover {
  color: #fff;
}

.Nav-link{
    color: #fff;
  }
