.header-container {
  position: relative;
  background: transparent;
  position: fixed;
  justify-content: center;
  width: 100vw;
  margin: 0px;
}

ul {
  list-style-type: none;
}

a:link {
  text-decoration: none;
}

.link-title{
    color: rgb(0, 6, 11);
}

.nav-items {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  text-decoration-line: none;
  font-family: "Hind", sans-serif;
  font-weight: 300;
}
