.navlink2-container{
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    height: 80dvh;
}

.navlink2-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-top: 2.5%;
    height: 70dvh;
    width: 1336.250px;
    background: rgb(11, 11, 149);
    background: radial-gradient(
      circle,
      rgba(11, 11, 149, 1) 0%,
      rgba(2, 0, 36, 0.764) 100%,
      rgba(0, 213, 255, 0.84) 100%
    );
    color: rgb(255, 255, 255);
    border-radius: 25px;
    color: rgb(255, 255, 255);
    border-radius: 25px;
}

.navlink2-heading{
    color: rgb(237, 181, 143);
}

.navlink2-button-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}