.popup-container{
   display: flex;
   justify-content: center;
}

.popup {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: antiquewhite;
   width: 50svw;
   height: 50svh;
 }